<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style type="text/css">
        span{
            display: inline-block;
            width: 200px;
            text-align: left;
        }
    </style>
</head>
<body>
<div class="container" align="center" >
    <h1 style="color: #47d516">register_sussesful </h1><br>
    <div>
        <span> Full Name :</span><span th:text="${user.name}"></span>
    </div>
    <div>
        <span> Full profession :</span><span th:text="${user.profession}"></span>
    </div>
    <div>
        <span> Full profession :</span><span th:text="${user.profession}"></span>
    </div>
    <div>
        <span> Full profession :</span><span th:text="${user.password}"></span>
    </div>
    <div>

        <span> married:</span><span th:text="${user.married}"></span>
    </div>
    <div>
        <span> gender:</span><span th:text="${user.gender}"></span>
    </div>
    <div>
        <span> Full note:</span><span th:text="${user.note}"></span><br>
    </div>









</div>

</body>
</html>